# INFRASTRUCTURE PORTS
DB_PORT=5432
API_PORT=8000
FRONTEND_PORT=8501
# DATABASE CONFIGURATION
DB_USER=admin
DB_PASSWORD=your_local_database_password # <- set a password to your database
DB_HOST=localhost
DB_NAME=skepti_scan
# AI INTEGRATION (OpenRouter)
OPENROUTER_API_KEY=your_openrouter_api_key_here # <- set your OpenRouter API key
